In [62]:
# import needed libraries
import numpy as np
import pandas as pd

In [63]:
df = pd.read_csv('adult.data.csv')
print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [64]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [65]:
# What is the average age of men?
avg_of_men = df[df['sex'] == 'Male']['age'].mean()
print(avg_of_men)

39.43354749885268

In [66]:
# What is the percentage of people who have a Bachelor's degree?
num_bachelors = len(df[df['education'] == 'Bachelors'])
total_num = len(df)
bachelors_percentage = round(num_bachelors / total_num * 100, 1)
print(bachelors_percentage)

16.4

In [67]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?


# Filter the dataset for people with advanced education
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Calculate the number of people with advanced education who earn more than 50K
high_earners_with_advanced_education = advanced_education[advanced_education['salary'] == '>50K']

# Calculate the percentage
high_earners_with_advanced_degress_percentage = round((len(high_earners_with_advanced_education) / len(advanced_education)) * 100, 1)
print(high_earners_with_advanced_degress_percentage)

46.5

In [68]:
# What percentage of people without advanced education make more than 50K?

# Filter the dataset for people without advanced education
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Calculate the number of people with advanced education who earn more than 50K
high_earners_without_advanced_education = lower_education[lower_education['salary'] == '>50K']

# Calculate the percentage
high_earners_without_advanced_degress_percentage = round((len(high_earners_without_advanced_education) / len(lower_education)) * 100, 1)
print(high_earners_without_advanced_degress_percentage)

17.4

In [69]:
# What is the minimum number of hours a person works per week?
min_hours = df['hours-per-week'].min()
print(min_hours)

1

In [70]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

# Filter the dataset for people who work the min_hours
min_hours_workers = df[df['hours-per-week'] == min_hours]
# print(min_hours_workers)
min_hours_workers_rich = min_hours_workers[min_hours_workers['salary'] == '>50K']
# print(min_hours_workers_rich)

min_hours_workers_rich_percentage = round((len(min_hours_workers_rich) / len(min_hours_workers)) * 100, 1)
print(min_hours_workers_rich_percentage)

10.0

In [71]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
country_count = df['native-country'].value_counts()
# print(country_count)

country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()
# print(country_rich_count)

highest_earning_country = (country_rich_count / country_count * 100).idxmax()
print(highest_earning_country)

highest_earning_country_percentage = round((country_rich_count / country_count * 100).max(), 1)
print(highest_earning_country_percentage)

Iran
41.9

In [72]:
# Identify the most popular occupation for those who earn >50K in India.
people_of_india = df[df['native-country'] == 'India']
print(people_of_india)
print()

occupation_counts = people_of_india['occupation'].value_counts()
print(occupation_counts)
print()

top_in_occupation = occupation_counts.idxmax()
print(top_in_occupation)

       age         workclass  fnlwgt   education  education-num  \
11      30         State-gov  141297   Bachelors             13
892     28           Private  164170   Assoc-voc             11
968     48           Private  164966   Bachelors             13
1029    48      Self-emp-inc  138370     Masters             14
1095    22  Self-emp-not-inc  361280   Bachelors             13
...    ...               ...     ...         ...            ...
30152   48           Private  119471   Doctorate             16
30833   25           Private  110978  Assoc-acdm             12
30871   26           Private  160261     Masters             14
31327   38         State-gov  125499   Bachelors             13
31357   23           Private  143003     Masters             14

              marital-status       occupation   relationship  \
11        Married-civ-spouse   Prof-specialty        Husband
892       Married-civ-spouse     Adm-clerical           Wife
968       Married-civ-spouse  Exec-managerial        Husband
1029   Married-spouse-absent            Sales  Not-in-family
1095           Never-married   Prof-specialty      Own-child
...                      ...              ...            ...
30152     Married-civ-spouse   Prof-specialty        Husband
30833     Married-civ-spouse     Adm-clerical           Wife
30871          Never-married   Prof-specialty  Not-in-family
31327     Married-civ-spouse   Prof-specialty        Husband
31357     Married-civ-spouse   Prof-specialty        Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
11     Asian-Pac-Islander    Male             0             0              40
892    Asian-Pac-Islander  Female             0             0              40
968    Asian-Pac-Islander    Male             0             0              40
1029   Asian-Pac-Islander    Male             0             0              50
1095   Asian-Pac-Islander    Male             0             0              20
...                   ...     ...           ...           ...             ...
30152  Asian-Pac-Islander    Male             0             0              40
30833  Asian-Pac-Islander  Female             0             0              37
30871  Asian-Pac-Islander    Male             0             0              20
31327  Asian-Pac-Islander    Male          7688             0              60
31357  Asian-Pac-Islander    Male             0          1887              50

      native-country salary
11             India   >50K
892            India  <=50K
968            India   >50K
1029           India  <=50K
1095           India  <=50K
...              ...    ...
30152          India   >50K
30833          India   >50K
30871          India  <=50K
31327          India   >50K
31357          India   >50K

[100 rows x 15 columns]

occupation
Prof-specialty       40
Sales                14
Adm-clerical         11
Exec-managerial      10
Craft-repair          5
Tech-support          5
Other-service         4
Protective-serv       4
Handlers-cleaners     3
Transport-moving      2
Machine-op-inspct     2
Name: count, dtype: int64

Prof-specialty